.right {
  @apply w-[60%] relative h-screen hidden lg:flex;
}

.right .img_wrapper {
  @apply absolute left-0 top-1/2 mt-[16px] translate-y-[-50%];
  @apply mx-auto inset-x-0 w-fit;
}

.right .img_wrapper div {
  @apply flex justify-center w-fit mx-auto ;
}

.right .img_wrapper img {
  @apply h-[20rem] w-fit;
}

.right .img_wrapper h2 {
  @apply text-gray-800 text-2xl font-bold mt-2 mx-auto;
  @apply w-[90%] pl-2;
}

.right .img_wrapper p {
  @apply text-gray-500 w-[90%] mx-auto pl-2;
}

.right .img_wrapper a {
  @apply font-bold hover:underline;
}

.left {
  @apply w-full lg:w-[40%] text-gray-700 h-screen relative bg-white;
  box-shadow: -10px 0 22px rgba(0, 0, 0, .90);
}

.left > form {
  @apply absolute top-1/2 translate-y-[-50%] mx-auto inset-x-0 w-[80%] overflow-y-auto;
  @apply flex flex-col space-y-4 md:w-[70%];
}

.left > form > h2 {
  @apply font-bold pl-2 mb-[-.5rem] text-lg text-center lg:text-left;
}

.resp {
  @apply mt-2 font-medium text-gray-700 text-center lg:text-left;
}

.select_wrapper {
  @apply relative w-full;
}

.err_msg {
  @apply text-left ml-1 text-xs mt-1 mb-0 pb-0 justify-start text-red-600;
  @apply font-normal;
}

.label_from {
  @apply absolute top-[50%] translate-y-[-50%] m-0 left-0 pl-[.8rem];
  @apply scale-100 text-gray-400 font-medium;
  transition: 0.1s linear;
}

.label_to {
  @apply absolute top-[50%] translate-y-[-50%] m-0 left-0 pl-[.8rem];
  @apply scale-100 text-gray-400 font-medium;
  transition: 0.1s linear;
}

.label_from_blur {
  @apply top-[16px] left-0 pl-[.8rem] text-gray-400 scale-90;
}

.label_to_blur {
  @apply top-[16px] left-0 pl-[.8rem] text-gray-400 scale-90;
}

.input_wrapper {
  @apply flex flex-col w-full border-2 rounded-[10px] border-gray-400 px-2;
  @apply hover:border-prmColor py-1;
}

.input_wrapper label {
  @apply text-gray-400 font-medium;
}

.input_wrapper input {
  @apply font-bold;
}

.input_wrapper input:focus {
  @apply border-none outline-none;
}

.input_wrapper:focus-within {
  @apply border-prmColor;
}

.btn_book_wrapper {
  @apply w-full flex justify-center lg:justify-start text-center;
}

.btn_book {
  @apply flex items-center justify-center w-full md:w-7/12 lg:w-5/12 text-white bg-prmColor py-3 rounded-lg ;
  @apply active:scale-95 hover:bg-color3 disabled:bg-gray-300 disabled:cursor-not-allowed;
  @apply disabled:active:scale-100 disabled:font-medium;
  transition: 0.3s;
}

.aboutus {
  @apply w-full lg:w-[40%] text-gray-700 h-screen relative bg-white overflow-hidden;
  box-shadow: -10px 0 22px rgba(0, 0, 0, .90);
}

.aboutus > p {
  @apply absolute top-1/2 translate-y-[-50%] mx-auto inset-x-0 w-[80%];
  @apply flex flex-col space-y-4;
  max-height: calc(100% - 4rem); /* Adjust the padding if needed */
  overflow-y: auto;
}
