.navbar {
  @apply flex flex-row justify-between items-center py-3 md:py-4 bg-bgColor shadow-md;
  @apply text-prmColor fixed top-0 left-0 w-full px-1 md:px-3 z-20;
}

.logo {
  @apply hidden lg:block;
  @apply pl-12 h-20 sm:h-9 md:h-8 p-0 m-0;
}

.logo_1 {
  @apply block lg:hidden;
  @apply pl-3 md:pl-12 h-8 sm:h-9 p-0 m-0;
}

.nav_link {
  @apply w-full list-none hidden md:flex lg:space-x-1 md:space-x-2;
  @apply md:mt-3 justify-around;
}

.nav_link li {
  @apply flex items-center space-x-1 relative hover:text-color5;
}

.nav_link li:hover::after {
  @apply absolute left-0 bottom-[-2px] w-1/2 mt-8 h-[2px];
  @apply bg-color5 text-color5;
  content: "";
}

.nav_link li:hover::after {
  @apply absolute left-0 bottom-[-2px] w-1/2 mt-8 h-[2px];
  @apply bg-color5 text-color5;
  content: "";
}

.nav_li_active {
  @apply font-bold relative inline-block;
}

.nav_li_active::after {
  @apply absolute left-0 bottom-[-2px] w-1/2 mt-8 h-[2px] bg-prmColor;
  @apply hover:bg-color5;
  content: "";
}

.nav_link_phone {
  @apply w-full list-none md:hidden flex flex-col lg:space-x-1 md:space-x-2;
  @apply absolute left-0 top-8 mt-[35px] bg-bgColor z-10;
  @apply text-prmColor shadow-md;
}

.nav_link_phone li {
  @apply flex items-center space-x-1 pl-4 py-3 relative;
  @apply hover:bg-color5 hover:text-bgColor w-full;
}

.nav_link_phone .nav_mobile_li_active {
  @apply bg-prmColor text-bgColor;
}

.input_search {
  @apply rounded-3xl w-full placeholder:ml-4 py-2 px-4 text-black bg-transparent;
  @apply border border-prmColor focus:border-prmColor focus:outline-prmColor;
}

.navbar_text {
  @apply text-2xl landscape:text-2xl md:text-2xl;
  @apply text-prmColor font-bold tracking-wide;
}

.icons_wrap {
  @apply absolute top-1/2 translate-y-[-50%] right-4 cursor-pointer;
  @apply flex items-center space-x-2;
}

.icon_regex {
  @apply cursor-pointer hover:text-color4;
}

.icon_regex_active {
  @apply bg-prmColor text-color2 rounded-[999px] p-1 hover:bg-color4;
}

.icon_search {
  @apply cursor-pointer hover:text-color4;
}

.btn_upload {
  @apply inline-flex items-center space-x-4 px-2 py-1 rounded-md bg-prmColor;
  @apply active:scale-75 border-2 border-prmColor font-medium text-bgColor;
  @apply hover:bg-color3 hover:border-color3;
  transition: 0.3s;
}

.btn_filter {
  @apply inline-flex items-center space-x-4 px-2 py-1 rounded-md;
  @apply active:scale-75 border-2 border-prmColor font-medium;
  @apply hover:bg-prmColor hover:text-bgColor;
  transition: 0.3s;
}

.desktop_logout {
  @apply hidden space-x-2 items-center absolute top-14 right-6 z-50 w-fit;
  @apply bg-bgColor py-3 px-5 cursor-pointer whitespace-nowrap;
  @apply rounded-b font-medium text-color1 hover:bg-gray-50 hover:text-prmColor;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
}

.avatar:hover .desktop_logout {
  @apply sm:flex;
}

.avatar {
  @apply flex items-center space-x-2;
}

.avatar .profile_name {
  @apply flex flex-row justify-evenly items-center;
  @apply font-semibold;
}

.avatar .profile_name img {
  @apply w-full max-w-[12px] h-auto;
}

.mobile_dropdownline {
  @apply block md:hidden cursor-pointer;
}

.desktop_dropdownline {
  @apply md:block hidden cursor-pointer;
}
